@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.header {
  width: 100%;
  height: 200px;
  background-color: aquamarine;
}
.logo {
  font-family: "Press Start 2p";
}
