@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
body {
  background-color: #ffffff;
}

.slider {
  height: 100%;
  background-color: #000000;

  .swiper-wrapper {
    margin-bottom: 10px;
    transition-timing-function: linear;
  }
}
.main {
  height: 300px;
  padding: 60px 40px;
  background-color: #ffffff;
  color: #000000;

  .container {
    width: 90%;
    margin: 0 auto;
    h1 {
      display: none;
    }

    h2 {
      font-size: 30px;
    }
    p {
      margin-top: 50px;
    }
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 8px;
  border-bottom: 3px solid #cccccc;
  .header-left {
    color: #000000;
    font-size: 12px;
    font-family: "Press Start 2P";
  }
  .header-right {
    display: flex;

    gap: 10px;
    a,
    div {
      width: 35px;
      height: 35px;
    }
    a:hover {
      svg {
        fill: #fcc800;
      }
    }
  }
}

footer {
  padding: 12px;
  text-align: center;
}

.screenshots {
  padding: 20px 10px;
  color: #000000;
}
