@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1&family=Press+Start+2P&display=swap");
body {
  background-color: #ffffff;
  font-family: "M PLUS 1", sans-serif;
}

.slider {
  background-color: #000000;

  .swiper-wrapper {
    margin-bottom: 10px;
    transition-timing-function: linear;
  }
}
.main {
  height: 300px;
  padding: 60px 40px;
  background-color: #ffffff;
  color: #000000;

  .container {
    width: 90%;
    margin: 0 auto;
    h1 {
      display: none;
    }

    h2 {
      font-size: 30px;
      @media all and (min-width: 1024px) {
        font-size: 40px;
      }
    }
    p {
      margin-top: 50px;
      @media all and (min-width: 1024px) {
        font-size: 22px;
      }
    }
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 8px 20px;
  border-bottom: 3px solid #cccccc;
  @media all and (min-width: 1024px) {
    height: 60px;
  }
  .header-left {
    font-size: 8px;
    font-family: "Press Start 2P";
    @media all and (min-width: 1024px) {
      font-size: 12px;
    }
    a {
      color: #000000;
      text-decoration: none;
      &:hover {
        color: #fcc800;
      }
    }
  }
  .header-right {
    display: flex;

    gap: 5px;
    @media all and (min-width: 1024px) {
      gap: 10px;
    }

    a,
    div {
      width: 20px;
      height: 20px;

      @media all and (min-width: 1024px) {
        width: 35px;
        height: 35px;
      }
    }
    a:hover {
      svg {
        fill: #fcc800;
      }
    }
  }
}

footer {
  padding: 12px;
  background-color: #000000;
  text-align: center;
}

.subtitle {
  padding: 20px;
  color: #000000;
}

.main-gallery {
  justify-content: center;
  width: 100%;
  padding: 0 20px;

  @media all and (min-width: 1024px) {
    display: grid;

    grid-template-columns: 30% 30% 30%;
  }
  img {
    padding: 5px;
    // animation: fadeup 1s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
  }
}

@keyframes fadeup {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  .content {
    width: 70%;
    background-color: #ffffff;
    animation: fadein 0.5s;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
